@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  font-size: 1.125rem;
  letter-spacing: 0.1em;

  transition: 0.5s;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
  min-width: 250px;
  height: 60px;
  background-color: rgba($color-light, 0.1);
  border: 2px solid $color-light;
}

.btn--primary {
  min-width: 350px;
  height: 60px;
  background-color: rgba($color-primary, 0.8);
  border: 2px solid $color-primary;
}
